*{
    padding : 0;
    margin : 0;
    font-family: sans-serif;
 }
 
 body {
    background-image: url(/img/w.jpg); 
    background-size: cover;
    color: #fff;
 }
 
 .Delete-Product {
     position : absolute;
     top : 50%;
     Left : 50%;
     transform: translate(-50% , -50%);
     width: 400px;
 }
 
 .Delete-Product h1 {
     font-size: 40px;
     text-align: center;
     text-transform: uppercase;
     margin:40px 0; 
 }
 
 .Delete-Product p{
     font-size: 20px;
     margin: 15px 0;
 }
 
 .Delete-Product input {
     font-size: 20px;
     padding: 15px 10px;
     width: 100%;
     border: 0;
     border-radius: 5px;
     outline: none; 
 }
 
 .Delete-Product button {
     font-size: 18px;
     font-weight: bold;
     margin:20px 0;
     padding: 10px 15px;
     width: 50%;
     border: 0;
     border-radius: 5px;
     background-color:#fff;
 }
 
 .Delete-Product button:hover {
     color: red;
 }